@model IEnumerable<ParcelHub.Models.Consumer>

@{
    ViewData["Title"] = "IndexViewOnly";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}

<h1>Consumers </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemeberShipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelIsvalid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateRegisterd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeLastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WechatId)
            </th>
         
            <th>
                Check Address
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemeberShipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelIsvalid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateRegisterd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeLastLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WechatId)
            </td>

            <td>
                <a asp-action="CheckAddress" asp-route-id="@item.ApplicationUserId">Address</a>
            </td>


        </tr>
}
    </tbody>
</table>
