
@{
    ViewData["title"] = "Creat New Shippment";
}

<form asp-controller="ConsumerShippments" asp-action="Edit" method="post">
    <div class="row" style="border:1px dotted red">
        <div class="col-md-4" style="border:1px dotted red">
            <div class="col">
                <label>Origin</label>
                <br />
                <label>Follow address is where you need the seller oversea send to</label>
                <div class="form-group">
                    <label class="control-label"> Country</label>   @*country of origin*@
                <input name="CountryOfOrigin" value="@ViewBag.shippment.Origin" disabled />
                <input type="hidden" name="CountryOfOrigin" value="@ViewBag.shippment.Origin" />
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input class="form-control" disabled placeholder="广东省东莞市万江街道蚬涌社区兴隆街7号125-126" />
                </div>
                <div class="form-group">
                    <label class="control-label">Post Code</label>
                    <input class="form-control" disabled placeholder="510435" />
                </div>
                <div class="form-group">
                    <label class="control-label">Mobile</label>
                    <input class="form-control" disabled placeholder="13266850075" />
                </div>
                <div class="form-group">
                    <label class="control-label">Receiver Name</label>
                    <input class="form-control" disabled placeholder="罗凯文 / Kevin Luo" />
                </div>
               

            </div>
        </div>
        <div class="col-md-1">
            <p class="glyphicon-arrow-right"></p>

        </div>
        <div class="col-md-4" style="border:1px dotted red">
            <div class="col">
                <label>Destination</label>
                <br />
                <label>Follow address is you want to package sent to in Destination Country</label>
                <div class="form-group">
                    <label>Use my saved address</label>
                    <select>


                        <option> Previously Saved address  </option>

                    </select>
                  
                    <label class="control-label"> Country</label>
                    <input class="form-control" name="consumerAddress.Country" value="@ViewBag.Address.Country" disabled/>
                 
                   
                </div>
                <div class="form-group">
                    <label class="control-label ">Street Name</label>
                    <input class="form-control" name="consumerAddress.StreetAddress" value="@ViewBag.Address.StreetAddress" required/>
                </div>
                <div class="form-group">
                    <label class="control-label ">State</label>
                    <input class="form-control" name="consumerAddress.State" value="@ViewBag.Address.State" />
                </div>
                <div class="form-group">
                    <label class="control-label">Suburb</label>
                    <input class="form-control" name="consumerAddress.Suburb" value="@ViewBag.Address.Suburb" />
                </div>
                <div class="form-group">
                    <label class="control-label">City</label>
                    <input class="form-control" name="consumerAddress.City" value="@ViewBag.Address.City" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Post Code</label>
                    <input class="form-control" name="consumerAddress.PostCode" value="@ViewBag.Address.PostCode" required />
                </div>
                <div class="form-group">
                    <label>Destination deliver options</label>
                    <select class="form-control" name="DestinationDeliverMethod" autofocus="@ViewBag.Parcels[0].DestinationDeliverMethod" >
                        
                        <option value="DelivertoDoor">Deliver to Door</option>
                        <option value="Pickup">Pickup from depot</option>

                    </select>


                </div>

            </div>
        </div>
    </div>

    <div class="row" style="border:1px dotted red">
        <div class="form-horizontal">
            <div class="table-responsive">
                <div>
                    <input type="hidden" name="ShippmentId" value="@ViewBag.Shippment.Id">
                    <input type="hidden" name="SPTackingNumber" value="@ViewBag.Shippment.SPTackingNumber" /> @*Tracking number for current shippment*@
                    <h3>Tracking Number @ViewBag.Shippment.SPTackingNumber    </h3>
                </div>
                <table class="table table-bordered table-striped table-highlight">
                    
                    
                    <thead>
                       
                        <tr>
                            <th>Shipping Company @@ origin</th>
                            <th>Tracking Number @@ origin</th>
                            <th>Goods Description</th>
                            <th>Weight</th>
                            <th>Volume</th>
                            <th>NumberOfUnits</th>
                            <th>Total Value</th>
                            <th>Special Cargo</th>
                        </tr>
                    </thead>
                  
                    <tbody id="firstdiv-edit">
                        @for (int i = 0; i < ViewBag.Count; i++)
                        {
                        <tr>
                            <td><input type="hidden" name="parcelId" value="@ViewBag.Parcels[i].Id"/><input type="text" class="form-control" value="@ViewBag.Parcels[i].OriginCourierCompany"  name="OriginCourierCompany" required /></td>
                            <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].OriginTrackingNumber"  name="OriginTrackingNumber"required /></td>
                            <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].Description" name="Description" required /></td>
                            <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].EstimateWeight" name="EstimateWeight" /></td>
                            <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].EstimateVolume"  name="EstimateVolume"/></td>
                            <td><input type="number" class="form-control" value="@ViewBag.Parcels[i].NumberOfUnits"  name="NumberOfUnits"required /></td>
                            <td><input type="number" class="form-control" value="@ViewBag.Parcels[i].TotalValue"  name="TotalValue" required /></td>
                            <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].Reference" name="Reference"  /></td>
                            <td> <input type="button" onclick="EditDynamicText()" value="Add line" /> </td>
                            <td> <input type="button" onclick="EditDynamicText()" value="Add line" /> </td>
                        </tr>
                        }


                    </tbody>


                </table>

                
            </div>


        </div>
       
       



        <div class="form-group">
            <input type="submit" value="Confirm Shippment" class="btn btn-primary" />
        </div>
       




    </div>

</form>