@{ ViewData["title"] = "Creat New Shippment";
}

<form asp-controller="ConsumerShippments" asp-action="Edit" method="post">
    <div class="row" style="border:1px dotted red">
        <div class="col-md-4" style="border:1px dotted red">
            <div class="col">
                <label>Origin</label>
                <br />
                <label>Follow address is where you need the seller oversea send to</label>
                <div class="badge-success">
                    <p>@ViewBag.Origin.CountryOfWarehouseModelCountryName</p>
                    <p>@ViewBag.Origin.CompanyName</p>
                    <p>@ViewBag.Origin.ReceiverName</p>
                    <p>@ViewBag.Origin.AddressLine1</p>
                    <p>@ViewBag.Origin.AddressLine2</p>
                    <p>@ViewBag.Origin.AddressLine3</p>
                    <p>@ViewBag.Origin.PostCode</p>

                </div>


            </div>
        </div>
        <div class="col-md-1">
            <p class="glyphicon-arrow-right"></p>

        </div>
        <div class="col-md-4" style="border:1px dotted red">
            <div class="col">
                <label>Destination</label>
                <br />
                <label>Destination</label>

                <div class="form-group">

                    @if (ViewBag.RequireDelivery == true)
                    {<div class="badge-success">
                            <p>@ViewBag.Destination.CountryOfWarehouseModelCountryName</p>
                            <p>@ViewBag.ConsumerAddress.NameOfReceiver</p>
                            <p>@ViewBag.ConsumerAddress.StreetAddress</p>
                            <p>@ViewBag.ConsumerAddress.Suburb</p>
                            <p>@ViewBag.ConsumerAddress.City</p>
                            <p>@ViewBag.ConsumerAddress.State</p>

                            <p>@ViewBag.ConsumerAddress.PostCode</p>

                        </div>


                    }
                    else
                    {
                        <div class="badge-success">
                            <p>@ViewBag.Destination.CompanyName</p>
                            <p>@ViewBag.Destination.ReceiverName</p>
                            <p>@ViewBag.Destination.CountryOfWarehouseModelCountryName</p>
                            <p>@ViewBag.Destination.AddressLine1</p>
                            <p>@ViewBag.Destination.AddressLine2</p>
                            <p>@ViewBag.Destination.AddressLine3</p>
                            <p>@ViewBag.Destination.PostCode</p>

                        </div>
                    }
                    <select class="form-control" name="DestinationDeliverMethod" autofocus="@ViewBag.Parcels[0].DestinationDeliverMethod">

                        <option value="DelivertoDoor">Changet to Deliver to Door</option>

                        <option value="Pickup">Change to Pickup from depot</option>

                    </select>
                    <input type="checkbox" id="toggle-two" name="DeliveryMethod" a>
                    <script> //
                        $(function () {
                            $('#toggle-two').bootstrapToggle({
                                on: 'Enabled',
                                off: 'Disabled'
                            });
                        })
                    </script>


                </div>

            </div>
        </div>
    </div>

    <div class="row" style="border:1px dotted red">
        <div class="form-horizontal">
            <div class="table-responsive">
                <div>
                    <input type="hidden" name="ShippmentId" value="@ViewBag.Shippment.Id">
                    <input type="hidden" name="SPTackingNumber" value="@ViewBag.Shippment.SPTackingNumber" /> @*Tracking number for current shippment*@
                    <h3>Tracking Number @ViewBag.Shippment.SPTackingNumber    </h3>
                </div>
                <table class="table table-bordered table-striped table-highlight">


                    <thead>

                        <tr>
                            <th>Shipping Company @@ origin</th>
                            <th>Tracking Number @@ origin</th>
                            <th>Goods Description</th>
                            <th>Weight</th>
                            <th>Volume</th>
                            <th>NumberOfUnits</th>
                            <th>Total Value</th>
                            <th>Special Cargo</th>
                        </tr>
                    </thead>

                    <tbody id="firstdiv-edit">
                        @for (int i = 0; i < ViewBag.Count; i++)
                        {
                            <tr>
                                <td><input type="hidden" name="parcelId" value="@ViewBag.Parcels[i].Id" /><input type="text" class="form-control" value="@ViewBag.Parcels[i].OriginCourierCompany" name="OriginCourierCompany" required /></td>
                                <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].OriginTrackingNumber" name="OriginTrackingNumber" required /></td>
                                <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].Description" name="Description" required /></td>
                                <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].EstimateWeight" name="EstimateWeight" /></td>
                                <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].EstimateVolume" name="EstimateVolume" /></td>
                                <td><input type="number" class="form-control" value="@ViewBag.Parcels[i].NumberOfUnits" name="NumberOfUnits" required /></td>
                                <td><input type="number" class="form-control" value="@ViewBag.Parcels[i].TotalValue" name="TotalValue" required /></td>
                                <td><input type="text" class="form-control" value="@ViewBag.Parcels[i].Reference" name="Reference" /></td>
                                <td> <input type="button" onclick="EditDynamicText()" value="Add line" /> </td>
                                
                            </tr>
                        }


                    </tbody>


                </table>


            </div>


        </div>





        <div class="form-group">
            <input type="submit" value="Confirm Shippment" class="btn btn-primary" />
        </div>





    </div>

</form>