@model IEnumerable<ParcelHub.Models.Shippment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Origin
            </th>
            <th>
                Destination
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SPTackingNumber)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TransportMethod)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RequiredInsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                Delivery
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DateTimeJobCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OriginSPWarehouseModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinatioSPWarehouseModelnId)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SPTackingNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TransportMethod)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.RequiredInsurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequireDelivery)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeJobCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
