@model IEnumerable<ParcelHub.Models.Shippment>

@{

}
<div class="container-fluid">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SPTackingNumber)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.OriginSPWarehouseModelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinatioSPWarehouseModelnId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RequiredInsurance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SPTackingNumber)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.OriginSPWarehouseModelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinatioSPWarehouseModelnId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredInsurance)
                    </td>
                    <td>
                        <a class="btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                        <a class="btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>