@model IEnumerable<ParcelHub.Models.Parcel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginTrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TransitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationDeliverMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginTrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TransitStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationDeliverMethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
