@model ParcelHub.Models.SPWarehouseModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SPWarehouseModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelIsvalid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelIsvalid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfWarehouseModelCountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfWarehouseModelCountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OceanFreightService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OceanFreightService)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
