@model ParcelHub.Models.Parcel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SPTackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SPTackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageLabelBarCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageLabelBarCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberShipId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberShipId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCourierCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginCourierCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginTrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginTrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginSPWarehouseModelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginSPWarehouseModelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinatioSPWarehouseModelnId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinatioSPWarehouseModelnId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerAddress.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransitStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransitStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationDeliverMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationDeliverMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeInboundOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeInboundOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeArriveInDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeArriveInDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeJobCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeJobCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeJobLastEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeJobLastEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelIsvalid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelIsvalid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
