@model IEnumerable<ParcelHub.Models.Parcel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPTackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageLabelBarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberShipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginCourierCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginTrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginSPWarehouseModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinatioSPWarehouseModelnId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationDeliverMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequireDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeInboundOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeArriveInDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeJobCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeJobLastEdit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelIsvalid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPTackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageLabelBarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberShipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginCourierCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginTrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginSPWarehouseModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinatioSPWarehouseModelnId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerAddress.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransitStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationDeliverMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequireDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeInboundOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeArriveInDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeJobCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeJobLastEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelIsvalid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
