@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model ParcelHub.Models.SPWarehouseModel
@inject ParcelHub.ServiceRepository.IUserSerivce _user
<h1>Shippment is all set</h1>
<div>



    <a asp-controller="ConsumerParcels" asp-action="Create">Click Here to Create Another Shippment</a>
    <hr />
    <a asp-controller="ConsumerShippments" asp-action="Index">Go to my shippments</a>
</div>
<div class="alert-success">
    
        please contact customer service if you have any problem <br />
        please make sure the seller attached following infomation when sending <br />


    <p> Company: @Html.DisplayFor(m => m.CompanyName)</p>
    <p>Receiver:@Html.DisplayFor(m=>m.ReceiverName)</p>
    <p>Name:@Html.DisplayFor(m => m.ContactName) </p>
    <p>Phone:@Html.DisplayFor(m => m.Mobile)</p>
    <p>Address:@Html.DisplayFor(m => m.AddressLine1)</p>
    <p>@Html.DisplayFor(m => m.AddressLine2)</p>
    <p>@Html.DisplayFor(m => m.AddressLine3)</p>
    <p>@Html.DisplayFor(m => m.City)</p>
    <p>@Html.DisplayFor(m => m.CountryOfWarehouseModelCountryName)</p>
    <p>@Html.DisplayFor(m => m.PostCode)</p>

</div>